## Preprocessing

In [12]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [13]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [14]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [15]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [16]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace = list(app_counts[app_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [18]:
#It may be helpful to look at classification values >1 
class_counts_gt1 = class_counts.loc[class_counts > 1]
class_counts_gt1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [19]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [20]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)

In [21]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="relu"))


# Check the structure of the model
nn_model.summary()

WARNING:tensorflow:From C:\Users\pfeff\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                440

 dense_1 (Dense)             (None, 5)                 55

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 501 (1.96 KB)
Trainable params: 501 (1.96 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\pfeff\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [25]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=30)

Epoch 1/30
WARNING:tensorflow:From C:\Users\pfeff\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\pfeff\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 3s 2ms/step - loss: 3.0884 - accuracy: 0.5899
Epoch 2/30
804/804 [==============================] - 1s 2ms/step - loss: 2.0319 - accuracy: 0.6459
Epoch 3/30
804/804 [==============================] - 2s 2ms/step - loss: 1.7339 - accuracy: 0.6701
Epoch 4/30
804/804 [==============================] - 2s 2ms/step - loss: 1.6722 - accuracy: 0.6724
Epoch 5/30
804/804 [==============================] - 1s 2ms/step - loss: 1.5597 - accuracy: 0.6776
Epoch 6/30
804/804 [==============================] - 1s 2ms/step - loss: 1.5383 - accuracy: 0.6785
Epoch 7/30
804/804 [==============================] - 1s 2ms/step - loss: 1.0552 - accuracy: 0.6868
Epoch 8/30
804/804 [==============================] - 1s 2ms/step - loss: 0.7128 - accuracy: 0.7137
Epoch 9/30
804/804 [==============================] - 1s 2ms/step - loss: 0.7111 - accuracy: 0.7121
Epoch 10/30
804/804 [==============================] - 1s 2ms/step - loss: 0.7155 - accuracy: 0.7007
Epoch 11/30
804/804 [==============================] - 1s 2ms/step - loss: 0.7017 - accuracy: 0.7044
Epoch 12/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6214 - accuracy: 0.7142
Epoch 13/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6077 - accuracy: 0.7141
Epoch 14/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6045 - accuracy: 0.7155
Epoch 15/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6016 - accuracy: 0.7161
Epoch 16/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6018 - accuracy: 0.7178
Epoch 17/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5995 - accuracy: 0.7212
Epoch 18/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6014 - accuracy: 0.7232
Epoch 19/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5946 - accuracy: 0.7229
Epoch 20/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5867 - accuracy: 0.7234
Epoch 21/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5832 - accuracy: 0.7235
Epoch 22/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5863 - accuracy: 0.7256
Epoch 23/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5815 - accuracy: 0.7262
Epoch 24/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5794 - accuracy: 0.7247
Epoch 25/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5795 - accuracy: 0.7280
Epoch 26/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5860 - accuracy: 0.7255
Epoch 27/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5781 - accuracy: 0.7292
Epoch 28/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5757 - accuracy: 0.7293
Epoch 29/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5776 - accuracy: 0.7295
Epoch 30/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5971 - accuracy: 0.7163

In [33]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5797 - accuracy: 0.7093 - 355ms/epoch - 1ms/step
Loss: 0.5797352194786072, Accuracy: 0.7092711329460144

In [32]:
# Export our model to HDF5 file
# Define the filename
filename = r"C:\Users\pfeff\OneDrive\Documents\GitHubRepositories\deep-learning-challenge\AlphabetSoupCharity.h5"


# Save the model to a HDF5 file
nn_model.save(filename)